@import '~antd/dist/antd.css';
html,body,#root{
  height: 100%;
}
.App {
  text-align: center;
}

.App-header{
  background-color: #42C57A;
  color: #fff;
  height: 60px;
  line-height: 60px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.body{
  height: calc(100% - 60px);
}
.siderBar{
  width: 160px;
  height: 100%;
  float: left;
  box-sizing: border-box;
  overflow: hidden;
}
.content{
  width: calc(100% - 160px);
  height: 100%;
  float: right;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}